<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png"/>
    </head>
    <body>
        <div class="content">
            {{>header}}
            <p>Get weather info!!</p>
            <form>
                <input type="text" placeholder="Location..."/>
                <button>Search</button>
            </form>
            <span class="weatherIconResult">
                <img src="" alt="" id="weather-icon"/> 
            </span>
            <span>
                <p id="forecast-result"></p>
            </span>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>